h1 {
    color: rgb(255, 0, 149);
    background-color: yellow;
}

.text-blue {
    color: rgb(10, 10, 208);

}

.text-purple {
    color: rgb(108, 7, 108);
}

.fs_20 {
    font-size: 20px;
}

.fs_30 {
    font-size: 30px;
}


h2 {
    color: aqua
}

h3 {
    color: yellowgreen
}

.text-brown {
    color: brown
}